#title {
    text-align: center;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    color:black;
    background-image: url("static/images/sunset.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: aliceblue;
}